<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="letswave.co.in.wave">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullscreenAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name="com.wave.digitalidentity.Activities.QRCodeReaderActivity" />
        <activity
            android:name="com.wave.digitalidentity.Activities.GoodieBagCollectionActivity"
            android:label="Goodie Bag Collection"
            android:parentActivityName="com.wave.digitalidentity.Activities.MainActivity" />
        <activity
            android:name="com.wave.digitalidentity.Activities.SleepingPodActivity"
            android:label="Sleeping Pod Booking"
            android:parentActivityName="com.wave.digitalidentity.Activities.MainActivity" />
        <activity
            android:name="com.wave.digitalidentity.Activities.LeeWeeNamActivity"
            android:label="Lee Wee Nam Mobile Access"
            android:parentActivityName="com.wave.digitalidentity.Activities.MainActivity" />
        <activity
            android:name="com.wave.digitalidentity.Activities.HallAccessActivity"
            android:label="Hall Access"
            android:parentActivityName="com.wave.digitalidentity.Activities.MainActivity" />
        <activity
            android:name="com.wave.digitalidentity.Activities.HiveActivity"
            android:label="Hive &amp; Arc Mobile Access"
            android:parentActivityName="com.wave.digitalidentity.Activities.MainActivity" />
        <activity android:name="com.wave.digitalidentity.Activities.PhoneNumberActivity" />
        <activity android:name="com.wave.digitalidentity.Activities.MainActivity" />
        <activity
            android:name="com.wave.digitalidentity.Activities.SignUpActivity"
            android:parentActivityName="com.wave.digitalidentity.Activities.SignInActivity" />
        <activity android:name="com.wave.digitalidentity.Activities.SignInActivity" />
        <activity android:name="com.wave.digitalidentity.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.wave.digitalidentity.Services.AppNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.wave.digitalidentity.Services.FirebaseInstanceService" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>